<div class="overview section" id="overview">
  <h1>
    Angular <span>Firebase</span> Chat System
  </h1>
  <h3>SRINIVAS TAMADA PRODUCTION</h3>
  <div id="bigButtons">
  </div>
  <div>
    <a class="btn  btn-social btn-facebook" (click)="socialLogin('facebook')" href="#">
      <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>
    <a class="btn  btn-social btn-google" (click)="socialLogin('google')" href="#" >
      <span class="fa fa-google"></span> Sign in with Google
    </a>
    <a class="btn  btn-social btn-github" (click)="socialLogin('github')" href="#">
      <span class="fa fa-github"></span> Sign in with Github
    </a>
  </div>
</div>
