@import "default";
@import "bootstrap-social";
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 999;
}

#home {
  text-align: left;
  margin-top: -40px;
  .loginUsers{
      img{
          width: 35px;
          height: 35px;
          
      }
  }
  .leftBlock {
    float: left;
    width: 70%;
  }
  .rightBlock {
    float: right;
    width: 29%;
  }
  textarea {
    display: block;
    width: 100%;
     margin-bottom:10px;
  }
  .clear {
    clear: both;
    margin-top:10px;
  }
  .stbody {
    min-height: 70px;
    margin-bottom: 10px;
    border-bottom: dashed 1px #cc0000;
    .stimg {
      float: left;
      height: 64px;
      width: 64px;
      border-radius: 5px;
    }
    .sttext {
      margin-left: 70px;
      min-height: 50px;
      word-wrap: break-word;
      overflow: hidden;
      padding: 5px;
      display: block;
      
    }
    .stdelete{
      float:right;
    }
  }
}
