<div class="main" role="main" id="main">
  <div id="home">

    <div class="leftBlock" #scrollMe>

      <div class='clear' id="updates">

        <div class="stbody clear" *ngFor="let message of finalMessages | async  ">
          <div class="stimg">
           
            <img src="{{message.photoURL}}" />
          </div>
          <div class="sttext">
            <a href="home#{{message.timestamp}}" (click)='removeMessage(message)' title="Delete" class="stdelete" *ngIf="message.email === userData.email" >
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
            <strong> {{ message.displayName }} </strong> 
            <div [innerHTML]="wordFilter(message.message) | linky"></div>
          
            <div class="sttime">{{ message.timestamp | amTimeAgo }}
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="rightBlock loginUsers">
     
      <b>
    Welcome <br/>{{userData.displayName}}
  </b>
      <a href="#logout" (click)="logout()" class="logout">Logout</a>
      <!--<span *ngFor="let user of loginUsers | async ">
       <img src="{{user.photoURL}}" />
      </span>-->


      <div style="margin-top:300px"><img src="https://lh3.googleusercontent.com/-q7nP4lSJ4tg/Vim1CZJDWvI/AAAAAAAANIU/vE0RZ8-9rCE/s599-Ic42/9lessonsLogo.png"></div>
    </div>
  </div>
</div>
<div class="footer" role="contentinfo" id="footer">
  <div class="sendBox">
    <input class="newTextarea" placeholder="Start typing here..." [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" />
    <button class="newSend" (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i> SEND</button>

  </div>

  <div id="footerLogout">    <a href="#logout" (click)="logout()" class="logout">Logout</a></div>
  <!--<ul class="about">
      <li>
        © COPYRIGHT - <a href="http://www.9lessons.info" target="_blank">SRINIVAS TAMADA PRODUCTION</a> - MADE IN INDIA -
        MADE WITH <i class="fa fa-heart" aria-hidden="true"></i>
      </li>
      <li>
        <a href="http://www.9lessons.info">www.9lessons.info</a>
      </li>
      <li>
        <a href="terms">Terms</a>
      </li>
    </ul>-->
</div>
